.sidebar {
  width: 25%;
  height: calc(100vh - 50px);
  background-color: rgb(56, 55, 55);
}

.sidebarLists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  
}

.sidebarlist {
  width: 100%;
  list-style: none;
  cursor: pointer;
  color: rgb(205, 230, 231);
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px 50px;

}
